.title{
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.979);
}

.title h2{
    color: var(--ion-color-primary);
}

.title a{
    margin-top: 0 !important;
    color: #fffbfb;
    font-size: small;
}

.forget a{
    font-size: small !important;
}

.contenedor_inputs {
    margin-top: 2rem;
    margin-bottom: 0%;
}
